.product-grid {
  display: grid;
  padding: 1rem;
  list-style-type: none;
  gap: 1.5rem;
}
@media (min-width: 30rem) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 45rem) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
