.products-container {
  border: 0.25rem solid whitesmoke;
  background-color: white;
}

.product-grid-item {
  justify-content: center;
  color: rgb(17, 61, 133);
}
.product-image {
  display: block;
  margin: 0.5rem auto;
  max-width: 8rem;
}
.product-description {
  height: 8rem;
  padding: 0.5rem;
}
.product-name {
  text-align: center;
  margin: 0;
}
.product-price {
  text-align: center;
  font-weight: bold;
}
.buy-now {
  margin: 0 auto 0.5rem;
  display: block;
  font-size: 1.25rem;
  color: rgb(17, 61, 133);
}
@media (min-width: 45rem) {
  .product-description {
    height: 6rem;
  }
}
