* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(17, 61, 133);
}
.container {
  background-color: wheat;
  font-family: "Courgette", cursive;
  font-family: "Wix Madefor Text", sans-serif;
}
